.about {
  padding: 60px 0 100px 0;

  @include vp-1023 {
    padding: 20px 0 71px 0;
  }

  @include vp-767 {
    padding: 13px 0 70px 0;
  }
}

.about__container {
  display: grid;
  //grid-template-columns: 12.2% 79.8%;
  grid-template-columns: 150px auto;
  column-gap: 8.4%;
  justify-items: center;

  @include vp-1023 {
    //grid-template-columns: 47.5% 48%;
    column-gap: 3.9%;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
  }
}

.about h2 {
  font-family: $ff-robotocondensed;
  font-weight: 400;
  margin: 0;
  font-size: 36px;
  line-height: 51px;
  margin-bottom: 12px;

  @include vp-1023 {
    margin-top: -2px;
  }

  @include vp-767 {
    font-size: 28px;
    line-height: 39px;
    margin-top: 0;
    margin-bottom: 12px;
  }
}

.about p {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;

  @include vp-767 {
    margin-bottom: 17px;
    line-height: 19px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 19px;
  }
}

.about .about__image-container {
  //max-width: 560px;
  height: 320px;
  align-self: start;

  @include vp-1023 {
    //min-width: 324px;
    //width: 100%;
    //height: 264px;
    //justify-self: center;
    //align-self: start;
  }

  @include vp-767 {
    display: none;
  }
}

.about img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.about__content.is-hidden {
  overflow-y: hidden;
  height: 170px;

  @include vp-1023 {
    height: 257px
  }

  @include vp-767 {
    height: 203px
  }
}

.about__content.is-shown,
.about__content.is-nojs {
  overflow: auto;
  height: auto;
}




.about__button {
  line-height: 17px;
  border: 1px solid $color-deep-sky-blue;
  color: $color-deep-sky-blue;
  width: auto;
  background-color: $color-default-alice-blue;
  margin-top: 20px;
  min-width: 180px;
  justify-content: center;
  padding: 13px 25px;

  @include vp-1023 {
    margin-top: 18px;
  }

  @include vp-767 {
    min-width: 160px;
    padding: 8px 15px;
    margin-top: 19px;
  }
}
