.accordion {
  display: grid;
  grid-template-columns: 55.6% 40.8%;
  column-gap: 3.5%;

  @include vp-1023 {
    grid-template-columns: 32.8% 48.6%;
    column-gap: 19.4%;
  }

  @include vp-767 {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }
}

.accordion__item {
  @include vp-767 {
    border-top: 1px solid $color-alice-blue-transparent7;
    border-bottom: 1px solid $color-alice-blue-transparent7;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 25px;
    padding-right: 25px;
    position: relative;

    &:last-child {
      border-top: none;
    }
  }
}

.accordion__heading:hover::before,
.accordion__heading:hover::after {
  opacity: 0.8;
}

.accordion__item.is-shown {
  @include vp-767 {
    padding-bottom: 13px;
  }
}

.accordion__item.is-shown .accordion__heading {
  @include vp-767 {
    &::after {
      display: none;
    }
  }
}

.accordion__item.is-nojs .accordion__heading {
  @include vp-767 {
    display: none;
  }
}

.accordion h3 {
  font-family: $ff-robotocondensed;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: $color-white;
  margin-top: 0;
  padding-top: 6px;
  padding-left: 0;
  padding-bottom: 4px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  @include vp-767 {
    margin-bottom: 0;
  }
}

.accordion__heading {
  display: none;

  @include vp-767 {
    display: inline-block;
    vertical-align: middle;
    width: 21px;
    height: 21px;
    position: absolute;
    right: 19px;
    top: 14px;
    background-color: transparent;
    margin: 0;

    &::before {
      content: "";
      width: 15px;
      height: 1px;
      background-color: $color-default-alice-blue;
      top: 14px;
      right: 8px;
      position: absolute;
    }

    &::after {
      content: "";
      width: 15px;
      height: 1px;
      background-color: $color-default-alice-blue;
      top: 15px;
      right: 8px;
      transform: rotate(90deg);
      position: absolute;
    }
  }
}

.accordion__heading:hover::before,
.accordion__heading:hover::after,
.accordion__heading:focus::before,
.accordion__heading:focus::after {
  background-color: $color-deep-sky-blue;
}

.accordion__nav-list,
.accordion__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.accordion__content {
  @include vp-767 {
    display: none;
  }
}

.accordion__item.is-shown .accordion__content,
.accordion__item.is-nojs .accordion__content {
  @include vp-767 {
    display: block;
    padding-top: 7px;
    font-size: 14px;
  }
}

.accordion__nav-list {
  flex-direction: row;
}

.accordion__list {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  word-wrap: break-word;
  width: 220px;
}

.accordion__nav-list li {
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.accordion__list li {
  margin: 5px 18px 3px 0;
}

.accordion__list a {
  line-height: 22px;
  font-weight: 400;

  &:hover,
  &:focus,
  &:active {
    opacity: 0.8;
  }
}

.accordion a {
  color: $color-white-transparent7;
}

.accordion__item address {
  display: flex;
  flex-direction: column;
  font-style: normal;
  align-items: flex-start;
}

.accordion__content--contacts a {
  display: inline-block;
  vertical-align: middle;
  margin: 5px 18px 3px 0;

  @include vp-767 {
    margin-right: 0;
  }
}

.accordion .accordion__link {
  &:hover {
    opacity: 0.8;
  }
}

.accordion .accordion__link--address {
  @include vp-767 {
    margin-bottom: 9px;
  }
}
