.advantages {
  padding-top: 120px;
  padding-bottom: 60px;

  @include vp-1023 {
    padding-top: 80px;
    padding-bottom: 60px;
  }

  @include vp-767 {
    padding-top: 50px;
    padding-bottom: 34px;
  }
}

.advantages ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;

  @include vp-1023 {
    column-gap: 29px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    grid-template-rows: 340px 340px 325px 325px;
    grid-gap: 30px;
  }
}

.advantages__item {
  border: 1px solid $color-whisper;
  border-left: 5px solid $color-deep-sky-blue;
  padding: 40px 45px 35px 42px;
  min-height: 300px;

  @include vp-1023 {
    //padding: 70px 15px 21px 18px;
    //min-width: 206px;
    //margin-bottom: 30px;
    padding-bottom: 31px;
    padding-top: 38px;
    min-height: 360px;
  }

  @include vp-767 {
    //width: 100%;
    padding: 31px 25px 35px 25px;
    min-height: auto;
    max-width: 375px;
  }
}

.advantages__item h3 {
  margin: 0;
  font-family: $ff-robotocondensed;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 13px;
  color: $color-deep-sky-blue;

  @include vp-1023 {
    //line-height: 25px;
    margin-bottom: 6px;
    //line-height: 33px;
  }

  @include vp-767 {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 8px;
  }
}

.advantages p {
  margin: 0;
  padding: 0;

  @include vp-767 {
    font-size: 14px;
    line-height: 19px;
  }


}

.advantages svg {
  fill: $color-deep-sky-blue;
  width: 35px;
  height: 35px;
  margin-bottom: 15px;

  @include vp-1023 {
    margin-bottom: 10px;
  }

  @include vp-1023 {
    width: 30px;
    height: 30px;
  }
}

.advantages__item:hover {
  background-color: $color-deep-sky-blue;;
  color: $color-alice-blue;
}

.advantages__item:hover svg {
  fill: $color-alice-blue;
}

.advantages__item:hover h3 {
  color: $color-alice-blue;
}
