.booking {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: $color-pattens-blue;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-width: 1024px) {
    background-image: url("../img/content/form-back-desktop@1x.png");

    @include retina {
      background-image: url("../img/content/form-back-desktop@2x.jpg");
    }
  }

  @include vp-1023 {
    padding-top: 89px;
    padding-bottom: 100px;
    background-image: url("../img/content/form-back-tablet@1x.png");

    @include retina {
      background-image: url("../img/content/form-back-tablet@2x.png");
    }
  }

  @include vp-767 {
    padding-top: 59px;
    padding-bottom: 65px;
    background-image: url("../img/content/form-back-mobile@1x.png");

    @include retina {
      background-image: url("../img/content/form-back-mobile@2x.jpg");
    }
  }
}

.booking__container {
  display: grid;
  grid-template-columns: 44% 35%;
  grid-column-gap: 11%;
  justify-content: center;
  align-items: center;

  @include vp-1023 {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-column-gap: 0;
    grid-row-gap: 53px;
  }

  @include vp-767 {
    grid-row-gap: 35px;
  }
}

.booking h2 {
  margin: 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  margin-top: -7px;
  margin-bottom: 8px;

  @include vp-1179 {
    font-size: 37px;
    line-height: 54px;
  }

  @include vp-1023 {
    text-align: center;
    font-size: 34px;
    line-height: 51px;
    margin-bottom: 3px;
    margin-top: 0;
  }

  @include vp-767 {
    font-size: 24px;
    line-height: 31px;
    margin-bottom: 13px;
  }
}

.booking p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 27px;
  width: 75%;

  @include vp-1179 {
    font-size: 16px;
    width: 100%;
  }

  @include vp-1023 {
    text-align: center;
    margin: 0 auto;
    width: 57%;
    font-size: 18px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 22px;
    width: 96%;
  }
}

.booking br {
  display: none;

  @include vp-767 {
    display: inline-block;
    vertical-align: middle;
  }
}
