.contacts {
  padding-top: 120px;
  padding-bottom: 120px;

  @include vp-1023 {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 61px;
    padding-bottom: 35px;
  }
}

.contacts__container {
  display: grid;
  grid-template-columns: 48% 43%;
  grid-column-gap: 100px;
  justify-content: center;
  align-items: center;

  @include vp-1023 {
    grid-template-columns: repeat(2, 48%);
    grid-column-gap: 30px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
  }
}

.contacts__container .contacts__map-wrapper {
  position: relative;
  width: 100%;
  height: 306px;
  align-self: start;

  &::after {
    content: "";
    position: absolute;
    bottom: 67px;
    left: 44%;
    width: 18px;
    height: 22px;
    background-image: url("../img/svg/icon-map-pin.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    z-index: 2;

    @include vp-1023 {
      left: 34%;
      bottom: 94px;
    }

    @include vp-767 {
      left: 39%;
      bottom: 70px;
    }
  }

  @include vp-1023 {
    height: 335px;
  }

  @include vp-767 {
    height: 316px;
  }
}

.contacts__container div {
  @include vp-767 {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.contacts iframe {
  width: 100%;
  height: 306px;
  position: absolute;
  z-index: 3;

  @include vp-1023 {
    height: 335px;
  }

  @include vp-767 {
    height: 316px;
  }
}

.contacts img {
  background-color: $color-romance;
  display: block;
  width: 100%;
  height: 306px;
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  object-fit: cover;

  @include vp-1023 {
    height: 335px;
  }

  @include vp-767 {
    height: 316px;
  }
}

.contacts p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 33px;
  font-weight: 500;

  @include vp-1023 {
    margin-bottom: 28px;
    margin-top: -4px;
  }
}

.contacts a {
  display: block;
  position: relative;
  padding: 0 10px 0 28px;
  margin-bottom: 21px;
  color: $color-default-tangaroa;
  font-style: normal;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 18px;
    height: 22px;
    background-image: url("../img/svg/icon-map-pin.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

    @include vp-1023 {
      top: 5px;
      transform: none;
    }

    @include vp-767 {
      top: 11%;
    }
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  @include vp-1023 {
    margin-bottom: 22px;
  }

  @include vp-767 {
    margin-bottom: 22px;

    &:last-of-type {
      margin-bottom: 35px;
    }
  }

  &:hover {
    opacity: 0.8;
  }
}

.contacts .contacts__phone-link {
  &::before {
    height: 18px;
    background-image: url("../img/svg/icon-phone.svg");
  }
}
