.cruises {
  padding-top: 110px;
  padding-bottom: 120px;

  @include vp-1023 {
    padding-top: 89px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 56px;
    padding-bottom: 65px;
  }
}

.cruises h2 {
  margin: 0;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  margin-bottom: 49px;
  text-align: center;

  @include vp-1023 {
    font-size: 26px;
    line-height: 39px;
    margin-bottom: 50px;
  }

  @include vp-767 {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 31px;
  }
}

.cruises ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 260px);
  grid-template-rows: 386px;
  grid-gap: 30px;
  justify-content: center;

  @include vp-1179 {
    grid-template-columns: repeat(3, 260px);
    grid-gap: 19px;
  }

  @include vp-1023 {
    grid-template-columns: repeat(2, 309px);
    grid-gap: 30px;
  }

  @include vp-767 {
    grid-template-columns: repeat(2, 270px);
  }

  @include vp-599 {
    grid-template-columns: 270px;
  }
}

.cruises__item {
  width: 100%;
  max-width: 260px;
  min-height: 386px;
  position: relative;
  font-size: 14px;
  line-height: 19px;

  @include vp-1023 {
    max-width: none;
    width: 309px;
  }

  @include vp-767 {
    width: 270px;
  }
}

.cruises__image-wrapper {
  width: 100%;
  max-width: 260px;
  height: 386px;

  @include vp-1023 {
    max-width: none;
    width: 309px;
  }

  @include vp-767 {
    width: 270px;
  }
}

.cruises__item img {
  object-fit: cover;
  height: 100%;

  @include vp-1023 {
    width: 309px;
  }

  @include vp-767 {
    width: 270px;
  }
}

.cruises__item article {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: $color-default-alice-blue;
}

.cruises__item dl,
.cruises__item a {
  z-index: -1;
}

.cruises__item:hover article,
.cruises__item:focus-within article {
  background-color: $color-default-tangaroa;
  overflow-y: scroll;
  padding: 28px 25px;
  justify-content: flex-start;
  z-index: 1;

  @include vp-1023 {
    padding: 28px 35px 27px 35px;
  }

  @include vp-767 {
    padding: 28px 25px 18px 25px;
  }
}

.cruises__item h4 {
  margin: 0;
  margin-left: 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  position: absolute;
  top: 336px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 1;

  @include vp-1023 {
    top: 332px;
    left: 52%;
  }

  @include vp-767 {
    top: 341px;
    left: 48%;
  }
}

.cruises__item:hover h4,
.cruises__item:focus-within h4 {
  margin-bottom: 15px;
  margin-left: 0;
  position: relative;
  top: 0;
  left: 0;
  transform: none;
}

.cruises__item:hover dl,
.cruises__item:focus-within dl {
  display: block;
  margin: 0;
  margin-bottom: 12px;
  z-index: 1;
}

.cruises__item dt {
  font-weight: 500;
  margin-bottom: 2px;
}

.cruises__item dd {
  margin: 0;
}

.cruises__item:hover a,
.cruises__item:focus-within a {
  display: block;
  margin: 0;
  margin-top: 14px;
  z-index: 1;
}
