.main-nav {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;

  @include vp-767 {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.main-nav__logo {
  width: 215px;
  height: 55px;
  display: flex;

  @include vp-767 {
    width: 35px;
    height: 35px;
  }
}

.main-nav__logo img {
  @include vp-767 {
    width: 35px;
    height: 35px;
  }
}

.main-nav address {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  font-style: normal;
  padding-top: 16px;

  @include vp-1023 {
    padding-top: 20px;
  }

  @include vp-767 {
    padding-top: 15px;
  }
}

.main-nav__link {
  display: flex;
  padding-left: 35px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  @include vp-1023 {
    padding-left: 20px;
  }

  &:hover::before,
  &:hover {
    opacity: 0.8;
  }
}

.main-nav__link--email {
  margin-right: 6.3vw;

  &::before {
    background-image: url("../img/svg/icon-email.svg");
  }

  @include vp-1023 {
    margin-right: 5.7vw;
  }

  @include vp-767 {
    margin-right: 40px;
  }
}

.main-nav__link--phone {
  &::before {
    background-image: url("../img/svg/icon-phone.svg");
  }

  @include vp-1023 {
    margin-right: 3.3vw;
  }

  @include vp-767 {
    margin-right: 20px;
  }
}

.main-nav__link span {
  @include vp-1023 {
    display: none;
  }
}

.main-nav a.btn {
  align-items: center;
  border: 1px solid $color-alice-blue;
  border-radius: 3px;
  max-width: 160px;
  margin: 0 60px 0 0;
  padding-top: 10px;
  padding-bottom: 12px;
  margin-top: 5px;
  justify-content: center;

  @include vp-1023 {
    display: none;
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover {
      background-color: $color-deep-sky-blue;
      opacity: 1;
    }
  }
}
