.social {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  @include vp-767 {
    justify-content: space-between;
  }
}

.social li {
  margin-right: 20px;

  &:nth-child(3n + 3) {
    margin-right: 0;
  }

  @include vp-1023 {
    margin-right: 8px;
  }

  @include vp-767 {
    margin-right: 22px;
  }
}

.social a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;

  @include vp-767 {
    justify-content: flex-start;
    width: auto;
  }

  &:hover,
  &:focus,
  &:active {
    opacity: 0.8;
  }
}

.social img {
  max-width: 20px;
  max-height: 20px;

  @include vp-1023 {
    max-width: 16px;
    max-height: 16px;
  }
}
